section {
  margin-top: $base-size * 4;
}

.content-wrapper {

  background-color: $color-light;
  padding: ($base-size * 6 )($base-size * 4);
  border-radius: $radius;
}

.box-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: $base-size * 8.5;
  text-transform: uppercase;

  .box {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 49%;
   height: $base-size * 10;
   margin-bottom: $base-size * 0.5;
   background-color: $color-dark;
   border-radius: $radius;

   &:nth-of-type(1){
     background: $color-dark url(../../images/assets/pizza-1.jpg) no-repeat center center;
   }

   &:nth-of-type(2){
    background: $color-dark url(../../images/assets/pizza-2.jpg) no-repeat center center;
    }


    .btn {
      text-decoration: none;
      width: 100%;
    }

    .btn-content {
      padding-top: $base-size * 2;
      transition:  padding-top .5s linear;
    }

    .box-subtitle {
      transition:  opacity .5s linear;
      opacity: 0;
      height: 0;
      overflow: hidden;
    }

    &:hover {
      justify-content: center;

      .btn-content{
        padding-top: 0;
      }

      .box-subtitle {
        opacity: 1;
        height: auto;
      }
    }



    .box-title {
      text-align: center;
      margin: 0;
      color: $color-light;
    }

    .box-subtitle {
      text-align: center;
      color: $color-light;
    }
  }

  .box-lg {
    width: 100%;
    height: $base-size * 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $color-main;
    border-radius: $radius;
    text-align: center;
    color: $color-light;

    .box-subtitle {
      text-align: center;
      color: $color-light;
    }
  }
}

.slider-section {
  margin-bottom: $base-size * 6;
  .elements-list {
    margin-bottom: $base-size * 3;

    .fade {
      animation: fade 1.5;
    }

    @keyframes fade {
      from {
        opacity: 0.4;
      }

      to {
        opacity: 1;
      }
    }

    .element {
      display: none;
      justify-content: space-between;
      align-items: center;

      .element-img {
        width: $base-size * 16;
        height: $base-size * 16;
        overflow: hidden;

        .img {
          height: 100%;
          object-fit: cover;
        }
      }

      .element-text {
        width: $base-size * 30;
      }
    }
  }
  .slides-nav{
    display: flex;
    justify-content: center;

    .dot {
      cursor: pointer;
      font-size: $base-size * 0.8;
      margin: 0 $base-size * 0.5;

      &::before{
        color: $color-disabled;
      }
    }

    .dot.active::before{
      color: $color-dark;
    }
  }
}

.gallery-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: $base-size * 2;

  .gallery-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    height: $base-size * 16;
    background-size: auto 100%;
    margin-bottom: $base-size;
    border-radius: $radius;
    overflow: hidden;

    &:hover{
      filter: brightness(85%);

      .icon {
        opacity: 1;
      }
    }
    &:nth-of-type(1){
      background: $color-dark url(../../images/assets/pizza-7.jpg) no-repeat center center;
    }

    &:nth-of-type(2){
      background: $color-dark url(../../images/assets/pizza-6.jpg) no-repeat center center;
    }

    &:nth-of-type(3){
      background: $color-dark url(../../images/assets/pizza-5.jpg) no-repeat center center;
    }

    &:nth-of-type(4){
      background: $color-dark url(../../images/assets/pizza-4.jpg) no-repeat center center;
    }

    &:nth-of-type(5){
      background: $color-dark url(../../images/assets/pizza-3.jpg) no-repeat center center;
    }

    &:nth-of-type(6){
      background: $color-dark url(../../images/assets/pizza-2.jpg) no-repeat center center;
    }

    .icon {
      opacity: 0;
      font-size: $base-size * 1.5;
      color: $color-light;
      margin: 0 $base-size * 0.4;

      &:hover{
        color: $color-main;
      }
    }
  }
}

.footer .footer-link{
  color: $color-main;
}
